/* Conteneurs */
.container-base {
  @apply container mx-auto px-4 py-8;
}

.card-container {
  @apply bg-[#2C3639] rounded-xl shadow-xl overflow-hidden;
}

/* Textes et Titres */
.title-primary {
  @apply text-4xl font-bold mb-4 text-[#DCD7C9];
}

.title-secondary {
  @apply text-2xl font-semibold mb-3 text-[#A27B5C];
}

.text-content {
  @apply text-[#DCD7C9]/90;
}

@keyframes shine {
  0%,
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
}

.title-dashboard-create {
  @apply block text-2xl underline underline-offset-4 font-memoirs font-semibold text-transparent bg-clip-text pl-2 mb-2;
  background-image: linear-gradient(
    to right,
    rgba(162, 123, 92, 0.6) 10%,
    rgb(210, 201, 185) 40%,
    rgba(162, 123, 92, 1) 50%,
    #cabaa4 60%,
    rgb(194, 170, 143) 90%
  );
  background-size: 200%;
  animation: shine 60s infinite linear;
}

/* Inputs */
.inputDashboard {
  @apply w-full bg-[#3F4E4F] text-[#DCD7C9] rounded-lg p-2 border border-[#DCD7C9]/10 focus:border-[#A27B5C] focus:ring-1 focus:ring-[#A27B5C] outline-none shadow-inner shadow-[#A27B5C]/60;
}

/* Listes */
.list-base {
  @apply space-y-2 list-inside text-[#DCD7C9]/90;
}

.list-numbered {
  @apply list-decimal list-inside space-y-3;
}

.list-discs {
  @apply list-disc list-inside space-y-2;
}

/* Flex Layouts */
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-start {
  @apply flex items-center justify-start gap-2;
}

/* Boutons */
.btn-primary {
  @apply bg-[#A27B5C] text-white px-4 py-2 rounded-lg 
         hover:bg-[#A27B5C]/80 transition-colors;
}

.btn-secondary {
  @apply bg-[#3F4E4F] text-[#DCD7C9] px-4 py-2 rounded-lg 
         hover:bg-[#3F4E4F]/80 transition-colors;
}

/* Boutons de navigation */
.btn-site-active {
  @apply bg-[#A27B5C];
}

/* Bouton ajouter instruction/ ingrédients */
.btn-add {
  @apply flex items-center gap-2 text-[#DCD7C9]/80 hover:text-[#DCD7C9] transition-colors;
}

/* Boutton principale du site */
.btn-site {
  @apply px-4 py-2.5
         bg-gradient-to-r from-[#C7B8A6] via-[#DAD5C7] to-[#BFA68A]
         text-[#4A403A] font-memoirs
         rounded-full
         shadow-md shadow-[#4A403A]/90
         transition-all duration-300 ease-in-out
         hover:shadow-lg hover:shadow-[#4A405A]/70
         hover:scale-105
         active:scale-95
         border border-transparent
         hover:border-[#4A403A]/10
         relative
         overflow-hidden;

  &::before {
    content: '';
    @apply absolute inset-0 
           bg-gradient-to-r from-white/0 via-white/30 to-white/0
           translate-x-[-200%]
           transition-transform duration-700;
  }

  &:hover::before {
    @apply translate-x-[200%];
  }
}

/* .btn-site-active {
  @apply bg-gradient-to-r from-[#C7B8A6] via-[#DAD5C7] to-[#BFA68A]
         text-[#A27B5C]
         shadow-md shadow-[#4A403A]/30
         scale-[0.98]
         border border-[#4A403A]/20
         hover:shadow-lg hover:shadow-[#4A403A]/40
         transition-all duration-300 ease-in-out;
} */

.nav-btn {
  @apply relative 
         inline-flex items-center
         px-4 py-2
         text-[#4A403A] font-memoirs
         transition-all duration-300
         hover:text-[#A27B5C]
         after:content-['']
         after:absolute after:bottom-0 after:left-0
         after:w-0 after:h-0.5
         after:bg-[#A27B5C]
         after:transition-all after:duration-300
         hover:after:w-full;
}

.btn-site-top {
  @apply px-4 py-2.5
         bg-gradient-to-r from-[#C7B8A6] via-[#DAD5C7] to-[#BFA68A]
         text-[#4A403A] font-memoirs
         rounded-full
         shadow-md shadow-[#4A403A]/90
         transition-all duration-300 ease-in-out
         hover:shadow-lg hover:shadow-[#4A405A]/70
         hover:scale-105
         active:scale-95
         border border-transparent
         hover:border-[#4A403A]/10
         sticky
         bottom-4
         /* decaler encore a droite */
         /* mr-[-100px] */
         ml-auto
         opacity-50
         overflow-hidden;
}

.btn-site-top:hover {
  @apply opacity-100;
}

/* Réinitialisation des styles de bouton */
.button-reset {
  background: none;
  border: none;
  padding: 4px;
  padding-left: 22px;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.button-reset:focus {
  outline: none;
}

/* Images */
.img-cover {
  @apply w-full h-full object-cover;
}

/* Sections */
.section-card {
  @apply p-6 space-y-6 text-[#DCD7C9];
}

.section-divider {
  @apply p-6 border-t border-[#A27B5C]/20 shadow-[0_-6px_10px_-8px_rgba(0,0,0,0.7)];
}

/* Icônes */
.icon-container {
  @apply flex items-center gap-1 mx-auto;
}

/* Effets */
.hover-scale {
  @apply hover:scale-105 transition-transform duration-300;
}

.gradient-overlay {
  @apply bg-gradient-to-t from-black/70 to-transparent;
}

/* Backgrounds */
.bg-glass {
  @apply backdrop-blur-[2px] bg-white/5;
}

/* Responsive */
.responsive-padding {
  @apply p-4 sm:p-6 md:p-8;
}

.responsive-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto text-center;
}

@keyframes shimmer-center {
  0% {
    opacity: 1;
    background-size: 0% 0%;
  }
  50% {
    opacity: 1;
    background-size: 150% 150%;
  }
  100% {
    opacity: 0;
    background-size: 150% 150%;
  }
}

.shimmer-center {
  animation: shimmer-center infinite 5s ease-out forwards;
}

.lineareBg {
  background-image: linear-gradient(
    to bottom,
    rgba(44, 54, 57, 0.95) 0%,
    rgba(44, 54, 57, 0.8) 40%,
    rgba(44, 54, 57, 0.4) 100%
  );
}

.custom-background {
  background: linear-gradient(
    to bottom,
    rgba(44, 54, 57, 0.95) 0%,
    rgba(74, 64, 58, 0.85) 50%,
    rgba(162, 123, 92, 0.749) 100%
  );
  backdrop-filter: blur(5px);
}

.popular-recipe-bg {
  background: linear-gradient(
    to bottom,
    rgba(44, 54, 57, 0.95) 0%,
    rgba(74, 64, 58, 0.85) 50%,
    rgba(162, 123, 92, 0.75) 100%
  );
}

.text-linear-gradient {
  background: linear-gradient(
    to right,
    rgba(162, 123, 92, 0.9) 0%,
    /* Départ bronze */ rgb(133, 106, 19) 40%,
    /* Zone brillante (dorée) */ rgba(146, 128, 28, 0.945) 50%,
    /* Pic de brillance dorée */ rgba(139, 69, 19, 0.8) 100% /* Brun foncé */
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* display: inline-block; */
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 8px rgba(233, 229, 197, 0.1);
}
